html {
	background: url(background.jpg) no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	font-family: 'Glegoo', serif;
}

.keys {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	min-height: 50vh;
}

@media (max-width: 800px) {
	.keys {
	flex-wrap: wrap;
	}
}


kbd {
	font-size: 4rem;
	display: block;
	font-family: 'Glegoo', serif;
	font-size: 1.5rem;
}

.key {
	transition: all 0.07s;
	margin: 1rem;
	padding: 1rem .5rem;
	font-size: 1.0rem;
	width: 10rem;
	border: .2rem solid black;
	border-radius: .5rem;
	text-align: center;
	background: rgba(0,0,0,0.4);
 	text-shadow: 0 0 .5rem black;
 	color: white;
 	text-transform: uppercase;
}

.playing {
	border-color: #B47CDB;
	box-shadow: 0 0 1rem #B47CDB;
	transform: scale(1.1);

}

footer {
	color: #FFF;
	letter-spacing: 2px;
	text-align: center;
	background: rgba(0,0,0,0.6);
}

a {
	text-decoration: none;
	color: #B47CDB;
	
}

a:hover {
	color: #776C7E;
}